header {
  background-color: #f63232;
  padding: 8px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

header h1 {
  color: white;
  border: 8px solid white;
  padding: 6px 30px;
  display: inline-block;
  border-radius: 30px;
}
